* {
  font-family: 'MTG Sans', Helvetica, Arial, sans-serif;
  outline: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0rem;
}

a {
  text-decoration: none;
}

body{
  height: 100vh;
  padding-top: 65px;
  background-color: #eaeaea;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.top-menu{
    z-index: 500;
  background-color: #3d4348;
  position: fixed;
  height: 60px;
  min-width: 620px;
  width: 100%;
  top: 0;
}

.top-menu-nav{
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
}

.top-menu-list{
color: #fff;
}

.top-menu-item{
  display: inline-block;
  height: 100%;
}

.top-menu-item a{
  margin-top: 10px;
  display: block;
  color: #fff;
  top: 0px;
  height: 30px;
  width: 60px;
  text-align: center;
  padding-top: 10px;
}

.search-query{
    position: absolute;
    border-radius:20px;
    top: 14px;
    right: 100px;
    display: inline-block;
    height: 30px;
    padding-left: 16px;
    line-height: 25px;
    width: 150px;
    border: 1px solid rgba(178, 178, 178, 0.56);
    transition: all .3s;
}

.search-query:focus{
    width: 300px;
}

.topics{
    border: 1px solid #d8d8d8;
    border-bottom: 0;
    border-radius: 0;
    color: #000;
    background-color: #fff;
    padding: 10px 0 10px 10px;
}

.topics:first-child{
    border-radius: 0 4px 0 0;
}
.topics:last-child {
    border-radius: 0 0 4px 0;
    border-bottom: 1px solid #d8d8d8;
}
.topics:first-child:last-child{
    border-radius: 0 4px 4px 0;
}

.topic-cmt{
    margin-top: 10px;
}

.topic-cmt li {
    list-style: none;
}

.top-sign-in{
    display: block;
    color: #fff;
    height: 30px;
    width: 60px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    right: 30px;
    top: 10px;
}

.content-wrapper{
    position: absolute;
    margin: 20px 30px 0 30px;
    width: calc(100% - 340px);
    color: #000;
}

.right-panel{
    position: fixed;
    margin: 20px 30px 0 30px;
    right: 0;
    height: calc(100% - 130px);
    min-height: 300px;
    width: 250px;
    padding: 10px;
}

ul{
    list-style-type: none;
}

.search-query-remove{
    position: absolute;
    top: 17px;
    font-size: 20px;
    height: 20px;
    right: 105px;
}
.search-query-remove:hover{
    cursor:pointer;
}

.forum-list-menu{
    margin-top: 8px;
}
.forum-list-menu li{
    display: inline;
    margin-right: 15px;
}

.bread-style{
    padding: 2px 30px 2px 30px;
    position: fixed;
    width: 100%;
    top: 59px;
    border-radius: 0;
    background: #fff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.comment-header {
    border-top: 1px solid #000;
}

.user-link {
    display: inline;
    font-size: 13px;
    font-weight: 700;
}

.user-link a{
        color: #000;
}

.user-link a:hover{
    color: #00C3FF;
    text-decoration: none;
}

.time {
 display: inline;
 font-size: 12px;
 color: #6b6b6b;
}

.topic-header{
    font-size: 21px;
    margin: 0;
    display: inline;
}

.topics-list{
    font-size: 19px;
}

.topics-text{
    color: #00C3FF;
    font-weight: 700;
}

.topic{
    padding: 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    margin-bottom: 10px;
}

.comt-header{
    margin-left: 10px;
    font-size: 18px;
}


.ng-cloak { display: none !important; } 




/*Elements knappar osv.*/
.btn-pre-info{
    display: inline-flex;
    margin-bottom: 10px;
    float: right;
    padding: 9px;
    border-radius: 4px;
    background-color: #00C3FF;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
}
.btn-pre-info:hover{
    background-color: #006ab1;
     text-decoration: none;
     color: #fff;
}
.btn-pre-info:active{
    border-color: #005c9a;
    text-decoration: none;
}
.btn-pre-info:focus{
    text-decoration: none;
    color: #fff;
}

.form-input{
    padding: 5px;
    border: 1px solid #d8d8d8;
    font-weight: normal;
    width: 100%;
    border-radius: 4px;
}

.form-textarea {
    border: 1px solid #d8d8d8;
    display: block;
    padding: 5px;
    resize: none;
    font-weight: normal;
    width: 100%;
    height: 130px;
    border-radius: 4px;
    margin-bottom: 10px;
}





/*SPINNER*/

.loader {
    margin-left: 9px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #00C3FF;
    width: 21px;
    height: 21px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/*Sorterings lista*/

.orderby-list{
    list-style-type:none;
    padding:0;
    width: 100%;
    background-color: #fff; 
    height: 35px; 
    margin-bottom: 10px; 
    border-radius: 0 0 4px 4px;
    border: 1px solid #d8d8d8;
}

.orderby-list li {
     float:left;
     margin:0 5px 0 0;
}


.orderby-list input {
    display: none;
}

.orderby-list label {
    cursor:pointer;
    display: inline-flex;
    margin: 0 5px 0 5px;
    padding: 6px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.orderby-list label:hover {
    background:#DDD;
}

.orderby-list input[type="radio"]:checked + label,
.Checked + label {
    border-bottom: 3px solid #00C3FF;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#/forum/3#cmt1:target{
    border-color:red;
}

.topics-carousel{
    background: url(http://imagecolony.com/wp-content/uploads/2016/10/Free-Backgrounds-5FH.jpg);
    height: 200px;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
}

.topics:nth-child(even) {
    background-color: #F7F7F8;
}



.f-btn {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 30px;
    border-radius: 2px;
    background-color: #00C3FF;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    transition: all .3s;
    line-height: 43px;
    user-select: none;
    min-height: 30px;
    font-size: 12px;
    display: inline-block;
}

.f-btn:hover{
    box-shadow: 0 5px 8px rgba(0,0,0,0.24), 0 0 8px rgba(0,0,0,0.12);
    text-decoration: none;
    user-select: none;
    color: #fff;
}

.f-btn:active{
    user-select: none;
    text-decoration: none;
    background-color: #006ab1;
}
.f-btn:focus{
    color: #fff;
    user-select: none;
    text-decoration: none;

}

.box-card{
    position: absolute;
    top: 30px;
    margin-left: 10px;
    color: #000;
    display: block;
    background: #fff;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
    box-sizing: border-box;
    float: left;
    height: 100px;
    margin-bottom: 30px;
    min-width: 250px;
    padding-bottom: 48px;
    position: relative;
    -webkit-transition: box-shadow .5s;
    transition: box-shadow .5s;
    border: 2px solid rgba(0, 0, 0, 0.00); 
}

.box-card:hover{
    cursor: pointer;
    border: 2px solid #00C3FF;
    color: #000; 
    box-shadow: 0 8px 8px rgba(0,0,0,0.24), 0 0 8px rgba(0,0,0,0.12);
    text-decoration: none;
}

.user-l-n {
    /*border-radius: 4px;
    border: 1px solid #d8d8d8;
    background-color: #fff;*/
    width: calc(100% - 100px);
    margin-top: 5px;
    margin-bottom: 10px;
    left: 10px;
    position: absolute;
    padding: 0 7px 0 7px;
    height: 35px;
}

.user-l-n:hover{
    cursor: pointer;
    background-color: rgba(124, 124, 124, 0.39);
}

.user-l-n h2 {
    margin-top: 5px;
    font-size: 21px;
}

.user-l-n i {
    position: absolute;
    right: 10px;
    margin-top: 9px;
}