<div style="display:block; height: 160px;" ng-repeat="(k, v) in uCtrl.sortedcontacts">
    <div class="user-l-n"><h2>{{k}}</h2> <i class="glyphicon glyphicon-chevron-down pull-right"></i></div>
    <br />
    <ul>
        <li ng-repeat="user in v | filter">
            <a class="box-card" style="padding: 10px;" href="#/user/{{user.Name}}">
                <!--<img style="display:inline-block; height: 78px; vertical-align:top; border: 2px solid #d8d8d8;" src="https://render-eu.worldofwarcraft.com/character/tarren-mill/225/127520481-avatar.jpg"/>-->
                <div style="display: inline-block;">
                    <span class="user-link">{{user.Name}} </span>
                    <br />
                    <span class="time">{{user.Email}}</span>
                    <br />
                <span class="time">Blev medlem {{user.CreateTime | date:"yyyy"}}</span>
                </div>
            </a>
        </li>
    </ul>

</div>